*
{
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color:#000;
}
body{
  background: #28292b;
  font-family: 'Noto Sans JP', sans-serif;
}
header{
  position: fixed;
  top:0;
  z-index: 2;
  width:100%;
  height:80px;
}

.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 1s;
}
.down-to-top.scrollin {
  opacity: 1;
  transform: translateY(0);
}

.hover-Uline {
  position: relative;　
  cursor: pointer;　
}

.hover-Uline:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .2s;
}

.hover-Uline:hover:before {
  transform: scale(1);
}

nav.globalMenuSp ul {
  display: flex;
  justify-content: center;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  margin-top: 40px;
  margin-right: 50px;
}

nav.globalMenuSp ul li a {
  color:#fff;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
}


.fv{
  width:100vw;
  height: 100vh;
  position: relative;
}
.top-img{
  margin: 0 auto;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width:300px;
  margin: 0 20px;
}
.logo img{
  width:100%;
  object-fit: cover;
}
.topilu{
  margin: 0 20px;
  width:850px;
}
.topilu img{
  width:100%;
  object-fit: cover;
}

.fv-ttl{
  position: absolute;
  left: 50%;
  bottom:0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fv-ttl h1{
  color:#fff;
  font-size: 40px;
  letter-spacing: 5px;
  margin-right:  60px;
}
.fv-ttl h2{
  margin: 0 40px;
  color:#fff;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: bold;
}
.fv-s{
  font-size: 18px;
}
.red-c{
  font-size: 18px;
  display: inline-block;
  background: #c93223;
  border-radius:50%;
  width:33px;
  height: 33px;
  text-align:center;
  line-height: 33px;
}
.cr{
  color: #fff;
  position: absolute;
  top:50%;
  left:40px;
  transform: translate(0,-50%);
  writing-mode: vertical-rl;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.place{
  color: #fff;
  position: absolute;
  top:50%;
  right:40px;
  transform: translate(0,-50%);
  writing-mode: vertical-rl;
  font-size: 14px;
  text-align: center;
  letter-spacing: 5px;
}



.cpt{
  background: #28292b;
  padding-top: 80px;
  text-align: center;
}

.att{
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 2.3;
  letter-spacing: 3px;
  position: relative;
  padding: 80px ;
}
.att::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:60%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.2;
}


.ff{
  text-align: center;
  padding: 180px 0 80px;
}
.ff-ctt-cp{
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ff-ctt-cp img{
  width:550px;
  height: 360px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 40px;
  border-radius: 15px;
}
.ff-ttl{
  text-align: left;
  width:550px;
  margin: 0 40px;
}

.ff-ttl h3{
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
}
.ff-ttl h4{
  padding-top: 10px;
  color:#fff;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: normal;
}
.f-stc{
  width:100%;
  margin-top: 40px ;
}
.f-stc p{
  text-align: left;
  font-size: 15px;
  color:#fff;
  letter-spacing: 2px;
  line-height: 2;
}

.w-c{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.w-cc{
  margin: 80px 20px;
  background: #fff;
  width:350px;
  height: 350px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  box-shadow: 5px 4px 4px #000;
}
.w-cc h3{
  font-size: 20px;
  margin: 60px 0 30px;
  letter-spacing: 2px;
}
.frontStr{
  width:250px;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
  line-height: 1.7;
}
.backStr{
  position: absolute;
  display: inline-block;
 font-size   : 80pt;
 font-weight : bold;
 color : rgba(239, 62, 68, 0.2);
 bottom : 20px;
 right: 40px;
}
.backStr-y{
  color : rgba(238, 167, 34, 0.2);
}
.backStr-g{
  color : rgba(108, 189, 44, 0.2);
}


.fphoto{
  width:100%;
  height: 500px;
  margin: 80px 0 ;
  overflow: hidden;
}
.fphoto img{
  width:100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}



.ac{
  text-align: center;
  margin: 240px auto;
}

.ac-ttl h3{
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
}
.ac-ttl h4{
  padding-top: 10px;
  color:#fff;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: normal;
}
.ac-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac-cp{
  width:500px;
  margin: 0 20px;
}
.ac-cp img{
  width:100%;
}
.ac-cs{
  width:500px;
  margin: 0 20px;
}
.ac-cs p{
  font-size: 15px;
  line-height: 2.2;
  color:#fff;
  text-align: left;
}
.ac-cs-tbl{
  width:625px;
  margin: 120px auto;
}
.ac-cs-tbl img{
  width:100%;
}
.ac-b{
  width:600px;
  margin: 0 auto;
}
.ac-bl{
  text-align: left;
}
.ac-bl li{
  color: #fff;
  list-style: none;
  position: relative;
  padding-left: 20px;
  line-height: 2;
  font-size: 15px;
}
.ac-bl li::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background: #fff;
  left: 0;
  top: 12px;
}
.ac-b p{
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  line-height: 2;
  text-align: left;
}
.map{
  margin: 80px auto;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.map iframe{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%
}

.btm{
  padding:80px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:60%;
  margin: 0 auto;
}

.btm-name{
  text-align: left;
}
.b-logo{
  width:180px;
  margin-bottom: 30px;
}
.b-logo img{
  width:100%;
}

.btm-name p{
  color:#fff;
  letter-spacing: 3px;
  font-size:  15px;
  line-height: 2.3;
}

.contact-link{
  text-align: left;
}
.contact-link-a{
  text-align: center;
}
.contact-link-af{
  margin-bottom: 60px;
}
.contact-link-a a{
  display: block;
  width:300px;
  color:#fff;
  padding: 20px 0;
  border: 1px solid;
  letter-spacing: 2px;
}
.contact-link-a a:hover{
  border-radius: 30px;
  transition: all 0.4s;
}

.ship{
  width:100%;
}
.ship img{
  width:100%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: -20px;
}
.fcr{
  display: none;
}

@media screen and (max-width: 1024px) {
/* 1024pxまでの幅の場合に適応される */

.logo{
  width:180px;
  margin: 0 20px;
}

.topilu{
  margin: 0 20px;
  width:600px;
}
.fv-ttl{
  width:70%;
}
.ff{
  padding: 120px 0 80px;
}

.ff-ctt-cp img{
  width:400px;
}
.ff-ttl{
  width:400px;
}

.w-cc{

    width: 300px;
    height: 300px;
}
.w-cc h3{
  margin: 40px 0 20px;
}
.frontStr{
  width:230px;
  font-size: 14px;
}
.ac{
  margin: 180px auto;
}
.ac-cp{
  width:400px;
}
.ac-cs{
  width:400px;
}
.map{
  height: 400px;
}

}
@media screen and (max-width: 768px) {
/* 768pxまでの幅の場合に適応される */

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 18px;
  top   : 20px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
  background: #000;
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
  background: #000;
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  right : 0;
  color: #000;
  background: #f5f5f5;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 50%;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  display: block;
}

nav.globalMenuSp ul li {
  display: block;
  list-style-type: none;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

nav.globalMenuSp ul li a {
  display: block;
  padding: 15px;
  text-decoration :none;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.5s;
  color:#000;
}
nav.globalMenuSp ul li:first-child{
  margin-top: 80px;
}
nav.globalMenuSp ul li a:hover{
  color:black;
}
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0);
}

.top-img{
  display: block;
}
.fv-ttl{
  width:90%;
  bottom:5%;
}
.logo{
  width:200px;
}
.ff-ctt-cp{
  display: block;
}
.ff-ttl{
  margin: 80px auto;
}
.w-c{
  display: block;
}
.w-cc{
  margin: 40px auto;
  width: 340px;
    height: 340px;
}
.w-cc h3{
  padding-top: 40px;
}
.fphoto{
  height: 300px;
  margin: 80px 0 ;
}
.ac-c{
  display: block;
}
.ac-cp{
  margin: 80px auto;
}
.ac-cs{
  margin: 80px auto;
}

.btm{
  width:90%;
}


}
@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される */

nav.globalMenuSp ul li:first-child{
      margin-top: 40px;
}
  nav.globalMenuSp ul li{
    padding:15px;
  }
nav.globalMenuSp ul li a{
  font-size: 13px;
  margin-top: 0;
}
.logo{
  width:150px;
  margin:0 auto;
}
.top-img{
  width:90%;
  top:40%;
}
.topilu{
  width:100%;
  margin: 0 auto;
}
.cr{
  display: none;

}
.place{
  right:0;
  top:90%;
  writing-mode:horizontal-tb;
  transform:none;
  width:100%;
}
.att{
  padding: 40px 0;
}
.att p{
  font-size:14px;
  }
.att::after{
  width:100%;
}


.fv-ttl{
  bottom:10%;
  display: block;
}
.fv-ttl h2{
  width:100%;
  margin: 0 auto;
  font-size: 28px;
}
.ac-cs-tbl{
  width:300px;
  margin: 80px auto;
}
.ac-b{
  width:300px;
}
.w-cc{
  width: 300px;
    height: 300px;
}
.frontStr{
  width:200px;
}
.ff{
  padding: 80px 0;
}

.ff-ctt-cp img{
  width:300px;
  margin: 0 auto;
}
.ff-ttl{
  width:300px;
}
.ac{
  margin: 100px auto;
}
.ac-cp{
  width:300px;
}
.ac-cs{
  width:300px;
}
.map{
  margin: 80px auto;
  height: 300px;
}
.btm{
  display: block;
  padding-top: 80px;
}
.b-logo{
  width:180px;
  margin: 0 auto;
}
.btm-name{
  text-align: center;
  margin-bottom: 50px;
}
.contact-link-af{
  margin-bottom: 40px;
}
.contact-link-a a{
  margin: 0 auto;
}
.fcr{
  display: block;
  padding: 20px 0;
  width:100%;
  text-align: center;
  font-size: 13px;
  color:#fff;
  letter-spacing: 2px;
}
}
